@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #d6cccc;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: #d6cccc;
}

h1 {
	text-align: center;
	color: #d6cccc;
	padding: 1rem;
  margin: 12vh 0 5vh;
  font-family: "Raleway", "Open Sans", sans-serif;
}

h2, p {
	text-align: center;
	color: #d6cccc;
	padding: 1rem;
  font-family: "Raleway", "Open Sans", sans-serif;
}

sup {
	font-style: italic;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.active {
	text-decoration: underline;
	color: inherit;
}

.hidden {
  display: none;
}

.overlay {
  content: "";
  position: fixed;
  top: 0;
  background-color: rgba(30, 30, 30, 0.6);
  width: 100vw;
  height: 100vh;
  display: none;
}

/* Header */
header {
  flex-basis: 50vh;
  background: url("../images/james-harrison-vpOeXr5wmR4-unsplash.jpg") no-repeat center center/cover;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  background-color: rgba(30, 30, 30, 0.6);
  width: 100%;
  height: 50vh;
}

#header-wrapper {
  position: absolute;
  height: 50vh;
	width: 100%;
  z-index: 99;
}

header nav {
	position: fixed;
	top: 30%;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 2rem;
	background-color: rgba(0, 0, 0, 0.8);
	text-transform: capitalize;
	user-select: none;
  display: none;
  z-index: 99;
}

header .nav-item {
	border-bottom: 1px solid #d6cccc;
}

header .nav-item a {
  color: #d6cccc;
	display: block;
	width: 100%;
	height: 100%;
	padding: 1rem 0;
	user-select: none;
}

header .nav-item a:hover {
  color: rgb(237, 237, 16);
  transform: scale(1.2);
  transition: color 0.2s, transform 0.2s;

}

/* Logo  */
#logo-svg {
  position: fixed;
  left: 1rem;
	top: 1rem;
  width: 3rem;
  fill: #ffffff;
  animation: rotateAnimation 3s infinite linear;
  z-index: 99;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Burger menu */
#toggle-nav {
	display: none;
}

#burger-menu-svg {
	width: 2rem;
	fill: #ffffff;
	position: fixed;
	right: 2rem;
	top: 1rem;
	cursor: pointer;
  z-index: 99;
}

#cancel-menu-svg {
	width: 2rem;
	fill: #ffffff;
	position: fixed;
	right: 2rem;
	top: 1rem;
	display: none;
	cursor: pointer;
  z-index: 99;
}

#toggle-nav:checked ~ nav {
	display: block;
}

#toggle-nav:checked ~ .overlay {
	display: block;
}

#toggle-nav:checked ~ #toggle-nav-label > #burger-menu-svg {
	display: none;
}

#toggle-nav:checked ~ label > #cancel-menu-svg {
	display: block;
}




/* Main */
main {
  flex-grow: 1;
  /* padding: 15px; */
  /* margin: 10vh 0; */
  position: relative;
}

/* main::after {
  content: "";
  position: absolute;
  top: 0;
  background-color: rgba(30, 30, 30, 0.6);
  width: 100%;
  height: 100%;
} */

#reasons-learn-programming-with-us-section {
  background: url("..//images/james-harrison-vpOeXr5wmR4-unsplash.jpg") no-repeat center center/cover;
  position: relative;
  margin-top: 10vh;
}

#reasons-learn-programming-with-us-section::after {
  content: "";
  position: absolute;
  top: 0;
  background-color: rgba(30, 30, 30, 0.9);
  width: 100%;
  height: 100%;
}

.main-wrapper {
  position: relative;
  height: 100%;
	width: 100%;
  z-index: 10;
}

#top-programming-languages-table {
  background: url("../images/pankaj-patel-_SgRNwAVNKw-unsplash.jpg") no-repeat center center/cover;
  position: relative;
  margin-top: 10vh;
}

#top-programming-languages-table::after {
  content: "";
  position: absolute;
  top: 0;
  background-color: rgba(30, 30, 30, 0.9);
  width: 100%;
  height: 100%;
}

#students-feedbacks {
  background: url("..//images/james-harrison-vpOeXr5wmR4-unsplash.jpg") no-repeat center center/cover;
  position: relative;
  height: 100px;
  margin: 10vh 0;
}

#students-feedbacks::after {
  content: "";
  position: absolute;
  top: 0;
  background-color: rgba(30, 30, 30, 0.9);
  width: 100%;
  height: 100%;
}


/* Footer */
footer {
 background-color: #000000;
 flex-basis: 15vh;
}